 *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        }
        .nav{
        text-align: center;
        background-color: rgb(18, 105, 163);
        padding: 15px;
     }


     .nav li{
       
       display: inline;
       margin-right: 50px;
       
     }   


    .nav a{
        text-decoration: none;
        display: inline-block;
        border-radius: 20px;
        background-color: pink;
        padding: 12px 24px;
        color: black;
}
.nav a:hover{
background-color: blue;
padding: 10px 22px;
border: 2px solid black;




}
 body{
    font-family: 'Roboto', sans-serif;
            background-color: lightgreen;
            margin: 0;
            text-align: center;
            padding: 0;
        }

        h1{
         text-align: center;
         background-color: white;   
         width: 500px;
         margin: 0 auto;
         margin-top: 35px;
         margin-bottom: 35px;
         padding: 50px;
         border: 12px solid;
         border-radius: 16px;
         border-color:red blue green yellow;
            
        }

        h2{
   text-align: center;
   background-color: white;
   padding: 20px;
   margin: 0 auto;
   margin-top: 50px;
   margin-bottom: 50px;
   width: 1200px;
   border: solid 5px;
   border-color: rgb(7, 87, 114) ;
   border-radius: 55px;
}
h3{
   text-align: center;
   background-color: white;
   padding: 20px;
   margin: 0 auto;
   margin-top: 50px;
   margin-bottom: 50px;
   width: 1200px;
   border: solid 5px;
   border-color: rgb(7, 87, 114) ;
   border-radius: 55px;
}

.img{
    
    width: 45%;
    height: 50%;
    
   
    object-fit:contain;
    
    
}



        p{
            text-align: center;
            
        }

        .LINKS{
            text-align: center;
        }

        .fila{
            margin-bottom: 20px;
            
        }

        .fila img{
            width: 400px;
            height: 400px;
            object-fit: contain;
            border: 50px;
            border-radius: 12px;
            
        }
        .fila img:hover{
            background-color: blue;
        }

    .caja{
        border-radius: 24px;
        width: 1200px;       
        margin: 0 auto;
        background-color: pink;
        
    }
    footer {
    background-color: #1269a3;
    color: white;
    padding: 15px;
    margin-top: 40px;
    text-align: center;
}